.igexuH, .eDlcZT {
    display: none !important;
}

#monaco-container {
    height: calc(-20rem + 100vh);
    min-height: 16rem;
}

.cDkCmT {
    flex: 1 1 0%;
}

@media (min-width: 640px) {
    .cDkCmT {
        flex: none;
    }
}